div#target {
    background-color: #cf5757;
    width: 50px;
    height: 50px;
    position: relative;
    left: 100;
    top: 100;
    background-image: url('pics/bug.png') ;
    z-index: 2;
    opacity: 50;


}

#resetscore, #resetspeed, #gamestart{

    font-weight: bold;

}

div#gameArea {

    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 400px;
    background-image: url('pics/bugarea.jpg') ;
    z-index: 1;

}

div#score {

    font-size: 40px;
    color: #d31313;
    
}

div#speed {

    font-size: 30px;
    color: #5c43a7;
    
}

html {
    
    margin: auto;
}

body {
    line-height: 1;
    width: 600px;
    background: rgb(210, 210, 215);
    margin: auto;
    margin-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
 }
 
